.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.headerSection {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  width: 300px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 15px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #1a2f50;
}

.contentBox {
  padding: 30px;
  border-radius: 12px;
  background: linear-gradient(90deg, #a0522d 0%, #ffffff 50%, #a0522d 100%);

  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.contactInfo {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  font-size: 0.95em;
}
.contactInfo span {
  margin-right: 8px; /* Space between icon and text */
}

.subHeading {
  font-size: 1.4rem;
  font-weight: 600;
  color: #334155;
  margin-bottom: 10px;
}

.text {
  color: #475569;
  font-size: 1rem;
}
